# Archivos de Python
__pycache__/
*.pyc
*.pyo

# Entornos virtuales
venv/
.env/

# Carpetas ignoradas
catboost_info/
exported_best_model/
distribucionDatos/
resultadosML/

# Archivos temporales
*.tmp
*.log
.DS_Store